.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-text {
  text-decoration: none;
  opacity: 0.65;
  font-size: 1.2vw;
  font-weight: bold;
}

.navbar-logo {
  width: 40px;
  opacity: 0.8;
  color: black;
  font-size: 1.8vw;
}
